<?xml version="1.0"?>
<!-- Deze toevoeging zou problemen moeten oplossen met @font-face requests in chrome -->
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
