// - HEADINGS

	h1, h2, h3, h4, h5, h6 {
		margin: 0; padding: 0; line-height: 1.2; font-weight: normal;
	}

	[class*=" heading-"],
	[class*="heading-"] {
		display: block;
		font-family: font(special-1); color: color(brand-dark);

		[class*='-inverted'] & {
			color: #fff;
		}

	}

	.heading--1 {
		font-size: 2.6rem; line-height: 2.6rem;

		// - medium up
		@include media(m) {
			font-size: 3.6rem; line-height: 4.2rem; letter-spacing: .055rem;
		}

		// - large up
		@include media(xl) {
			font-size: 4.6rem; line-height: 5.2rem; letter-spacing: .055rem;
		}
	}

	.heading--2 {
		font-size: 2rem; line-height: 2.6rem;

		// - medium up
		@include media(m) {
			font-size: 2.6rem; line-height: 3.1rem; letter-spacing: .009rem;
		}
	}

	.heading--3 {
		font-size: 1.8rem; line-height: 2.6rem;

		// - medium up
		@include media(m) {
			font-size: 2rem;
		}
	}

	.heading--4 {
		font-size: 1.6rem; line-height: 2.2rem;
	}

	.heading--5 {
		font-size: 1.4rem; line-height: 2rem;
	}

	.heading--6 {
		font-size: 1.2rem; line-height: 1.8rem;
	}