// - LISTS

	ul {
		@extend .list;
	}

	ol {
		@extend .list[class*="-numbered"];
	}

	.list,
	[class*=" list-"],
	[class*="list-"] {
		display: block; margin: 0; padding: 0;
		list-style-type: none;

		&[class*="-numbered"] {
			padding-left: 1.7rem;
			list-style-type: decimal;
		}

		&[class*="-bullet"] {
			padding-left: 2rem;
			list-style-type: disc;
		}
	}

	.list__item {
		margin-top: .6rem;

		[class*="-numbered"] & {
			padding-left: 1rem;
		}

		[class*="-checks"] & {
			position: relative; z-index: 1;
			padding-left: 3rem;

			&:after {
				transform: translateY(30%);
				position: absolute; top: 0; left: 0; z-index: 1;
				@include icon('check');
				font-size: 80% !important; color: color(brand-dark);
			}
		}

		[class*="-dashed"] & {
			position: relative; z-index: 1;
			padding-left: 3rem;

			&:after {
				content: '';
				transform: translateY(50%);
				position: absolute; top: 50%; left: 0; z-index: 1;
				width: 1.5rem; height: 0.1rem;
				background-color: color(neutrals-3);
			}
		}

		&:first-child {
			margin-top: 0;
		}
	}