// - BUSINESS UNIT NAV

	//=============================================================================================
	// - THE STYLING

	.buNav {
		@include pie-clearfix;
		background-color: color(brand-dark);
		border-top: .2rem solid color(light);

		// - small up
		@include media(s) {
			position: relative;
			height: 7rem; padding: 0 gap(small);
			border-top: none;
		}
	}

	.buNav__list {
		display: none; width: 100%;  float: left;

		[class*="_buMenu_is_open"] & {
			display: block;
		}

		// - small up
		@include media(s) {
			position: static;
			display: block; height: 100%; width: auto;
		}
	}

	.buNav__item {
		position: relative;
		display: block; height: 100%; padding: 0 gap(small);
		background-color: color(brand-dark);
		font-family: font(special-2);

		// - small up
		@include media(s) {
			display: inline-block; float: left;
			background-color: transparent;
		}
	}

	.buNav__name {
		display: none;
		font-family: font(special-1); text-transform: uppercase;

		// - small up
		@include media(s) {
			display: block; min-width: 14rem;
		}

		// - large up
		@include media(l) {
			min-width: 15rem;
		}
	}

	.buNav__home {
		display: block;
		font-family: font(special-2);

		// - small up
		@include media(s) {
			display: none;
		}
	}

	.buNav__link {
		@include pie-clearfix;
		display: block; height: 100%; padding: gap(xsmall) gap(xxsmall);
		border-top: .1rem solid lighten(color(primair-2-light), 25);
		font-size: 1.8rem; color: color(light); text-decoration: none;

		.buNav__name & {
			@include valign;
			height: auto;
		}

		[class*="_subMenu_is_open"] &, .buNav__item:first-child & {
			border-top: none;
		}

		// - small up
		@include media(s) {
			padding: 0;
			border-top: none;
			font-size: 1.6rem;
		}
	}

	.buNav__link__label {
		display: inline-block; padding-bottom: .2rem; float: left;

		// - small up
		@include media(s) {
			@include valign;
		}

		[class*="-active"] &,
		[class*="no-touchevents"] &:hover {

			&:after {
				content: '';
				position: absolute; top: 100%; left: 0; right: 0;
				width: 100%;
				border-bottom: .3rem solid color(action);
			}

		}
	}

	.buNav__icon {
		margin-left: 1rem; height: .6rem;
		transition: transform 250ms;
		font-size: .6rem;

		&:before {
			transform: translateY(0);
		}

		[class*="_subMenu_is_open"] & {
			transform: rotate(180deg);
		}

		// - small up
		@include media(s) {
			position: absolute; top: 50%; right: 0;
		}
	}

	//=============================================================================================
	// - THE SUB NAV

	.buNav__sub {
		position: absolute; top: 100%; left: 0; z-index: 99;
  		display: none; min-width: 30rem;
  		background-color: color(primair-2-light);

		[class*="_subMenu_is_open"] & {
			position: static;
			display: block; width: 100%; padding: gap(xsmall) 0;

			// - small up
			@include media(s) {
				position: absolute;
				padding: 0;
			}

		}

		// - medium up
		@include media(m) {
			.buNav__item:hover & {
				display: block !important;
			}
		}
	}

	.buNav__sub__item {

		// - small up
		@include media(s) {
			border-bottom: .2rem solid lighten(color(primair-2-light), 25);

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.buNav__sub__link {
		display: block; padding: gap(xsmall) gap(small);
		font-size: 1.6rem; line-height: 1.5; color: color(light); text-decoration: none;
	}

	.buNav__sub__label {
		padding-bottom: .3rem;

		.buNav__sub__link:hover & {
			border-bottom: .3rem solid color(action);
		}
	}

	//=============================================================================================
	// - THE LOGIN

	.buNav__login {
		display: block; width: 100%; height: 5rem; padding: 0 gap(xsmall); margin-bottom: (gap(small) / 2); float: right;

		// - small up
		@include media(s) {
			position: absolute; top: 0; right: gap(small);
			width: 13rem; height: 100%; margin: 0; padding: 0;
		}

	}

	.buNav__theLogin {
		display: block; height: 100%; padding: 0 gap(small);
		background-color: lighten(color(primair-2), 5);
		text-align: center; font-size: 1.4rem; color: color(light); text-decoration: none;

		// - small up
		@include media(s) {
			@include valign;
			padding: gap(small);
			text-align: left;
		}
	}

	.buNav__login__icon {
		@include valign;
		display: inline-block; float: none;
		margin-right: .5rem; margin-top: -.2rem;
		font-size: 2rem; line-height: 2;

		// - small up
		@include media(s) {
			float: left;
			font-size: 2.8rem; line-height: 2.8rem;
		}
	}

	//=============================================================================================
	// - THE PRIORITY PLUS NAV

	.buNav__more {
		@extend .buNav__link;
		@include valign;
		display: none; height: auto; padding-bottom: .2rem; padding-right: 2.5rem; margin-right: 4rem; float: right;

		// - medium up
		@include media(m) {
			margin-right: 0;
		}

		// - small up
		@include media(s) {

			&[class*="_priorityPlus_active"] {
				display: inline-block;
			}
		}
	}

	.buNav__more__icon {
		position: absolute; top: .2rem; right: 0;
		height: 1.6rem;
		transition: transform 250ms;

		&:before {
			transform: translateY(0);
		}

		[class*="_priorityPlus__open"] & {
			 transform: rotate(180deg);
		}
	}

	.buNav__plusNav {
		@include pie-clearfix;
		position: absolute; top: 7rem; right: (gap(small) / 2); z-index: 99;
		width: 30rem; height: auto; float: right;
		background-color: color(brand-dark);

		.buNav__sub {
			position: static;
			margin-left: - gap(small);
		}

		.buNav__item:not(.buNav__name), {
			@include pie-clearfix;
			width: 100%; height: auto; float: left;
			background-color: color(brand-dark);

			&[class*="_subMenu_is_open"] {
				height: auto;
			}
		}

		.buNav__link {
			height: 5rem;
		}

		.buNav__login {
			position: relative; top: 0; left: 0;
			padding: 0 (gap(small) / 2); margin-bottom: 1rem; height: 5rem !important;
		}

		.buNav__theLogin {
			@include valign;
			height: 100%; padding: 0;
			background-color: lighten(color(primair-2), 5);
			text-align: center;
		}

		.buNav__login__icon {
			@include valign;
			display: inline-block; float: none;
			font-size: 2rem; line-height: 2;
		}
	}

	//=============================================================================================
	// - THE MOBILE CONTROL

	.buNav__mobileControl {
		@include valign;
		display: block; padding-right: 2.5rem; float: left;
		color: color(light); font-size: 1.6rem; font-family: font(special-1); line-height: 1; text-transform: uppercase; text-decoration: none;
		border: 0;

		// - small up
		@include media(s) {
			display: none;
		}
	}

	.buNav__mobileControl__icon {
		position: absolute; top: 0; right: 0;
		height: 1.6rem;
		transition: transform 250ms;
		font-size: 1.4rem;

		[class*="_buMenu_is_open"] & {
			transform: rotate(180deg);
		}
	}

